<!DOCTYPE html>
<html>
<head>
  <title>Toer De Sol</title>
  <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="nonfooter">
	
	<div id="around">
	
	<h1>Toer De Sol</h1>

	<ul id="menu">
		<li><a href="/koers">De Koers</a></li>
		<li>&bullet;</li>
		<li><a href="/parcours">Het Parcours</a></li>
		<li>&bullet;</li>
		<li><a href="/regels">De Regels</a></li>
		<li><a href="/geschiedenis">De Geschiedenis</a></li>
		<li>&bullet;</li>
		<li><a href="/fotos">De Foto's</a></li>
		<li>&bullet;</li>
		<li><a href="/vrienden">De Vrienden</a></li>
	</ul>

	<%= yield %>

	</div>

	<div id="t"><div id="tl"></div><div id="tr"></div></div><div id="l"></div><div id="r"></div> 
	
	<div id="clearfooter"></div>
</div>

<div class="footer">
	<div id="bottom" style="background: url(/images/bottom/<%= controller.action_name %>.jpg);"></div>

	<div id="b"><div id="bl"></div><div id="br"></div></div> 
</div>

</body>
</html>
